html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}
/* Section Mindesthöhe****************************************************************/
section{
  min-height: 100%;
}

a{
  text-decoration: none;

}
/* Listen Config**********************************************************************/
li{
  list-style-type: none;

}
/* Überschriften Config****************************************************************/
h1,h2,h3,a{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

h3{
  font-size:  40px;
  padding-top: 2%;
  margin-bottom: 10px;
}


/* Paragraphen config********************************************************************/
p{
  font-family: 'Roboto Slab', serif;
}
/* Horizontal line config****************************************************************/
hr{
  width: 30px;
  height: 3px;
  background:#000000;
  border: 0;
  margin: 0 auto 40px auto;
}

.hr2{
  width: 200px;
  height: 3px;
  background:#000000;
  border: 0;
  margin: 0 auto 40px auto;
}
.hr3{
  width: 100px;
  height: 3px;
  background:#000000;
  border: 0;
  margin: 0 auto 40px auto;
}

}

/* unknown purpose************************************************************************/
#HeadId, li, img{
  transition: all 300ms; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms;
}

/* anchor that positions the id reference correctly*****************************************/
.anchor {
  display:block;
  padding-top:0px;
  margin-top:90px;
}

 .anchor2 {
  display:block;
  padding-top:0px;
  margin-top:10px;
}

/* unknown purpose************************************************************************/
.h3PadEraser{
padding-top:3%;
}



/************************************************************************************************/
/************************************************************************************************/
/*******************************************Boxen************************************************/
/************************************************************************************************/
/************************************************************************************************/


/* Standard Box Außen Config ***********Main***Dienste******************************************/
.box{
  width:100%;
  min-height:230px;
  background-color: white;
  padding-top:3%;
}
/* Box Innen Config*/
.boxGreen{
  width:50%;
  height:230px;
  background-color: #2d7a56;;
  float: left;
}

.boxGreenSmall{
  width:61%;
  height:230px;
  background-color: #2d7a56;;
  float: left;
  margin-left: 20%;
}
/*#015225*/

.boxWhite{
  width:50%;
  height:230px;
  background-color: white;
  float: left;
}

.dialogRed{
    height:40px;
    width:150px;
    margin: 30px -50px;
    position:relative;
    top:10%;
    left:50%;
    background-color: rgba(104, 6, 6, 0.938);

}



/* Box Innen Config**********************Main***Kontakt******************************************/
.bigBox{
  min-height:500px;
  width:50%;
  background-color: white;
  float: left;
}

/* Box Außen Config*********************Main****Kontakt******************************************/
.breitBox{
  min-height: 95%;
  width:100%;
  background-color: white;
}


.borderlineKontakt{
  border-radius: 0px;
  border: 3px solid;
  border-color: #013f1d;
  background-color: #013f1de0;
  margin-left: 27%;
  margin-right: 27%;
}

/* Box Außen Config*********************Personenvorstellung******************************************/
.PBreitBox{
  min-height:700px;
  width:100%;
  background-color: white;
  float: left;
}
/* Box Außen Config*********************Personenvorstellung******************************************/
.PBigBox1{
  min-height:700px;
  width:20%;
  background-color: white;
  float: left;
}
/* Box Außen Config*********************Personenvorstellung******************************************/
.PBigBox2{
  min-height:700px;
  width:70%;
  background-color: grey;
  float: left;
}

/* Box Außen Config*********************Personenvorstellung******************************************/
.PBigBox3{
  min-height:700px;
  width:10%;
  background-color: blue;
  float: left;
}

/* Box Außen Config*********************Personenvorstellung******************************************/
.PBreitBox2{
  min-height:500px;
  width:100%;
  background-color: pink;
}

#aboutId p{
  margin-top: 80px;
}

/* Bilder resize************************************************************************/
.resize{
  max-width: 50%;
  max-height: 50%;
  margin-top: 80px;
}
.resize2{
  max-height: 250px;
  max-width: 50%;

}

/* Alt Footer Box********************Footer******************************************/
.footerBox{
  min-height:100px;
  width:100%;
  background-color: #013f1d;
}

.NochFragenBox{
  width:100%;
  min-height:50px;
  background-color: white;
  padding-top: 8%;
}

.KartenBox{
  margin-left: 10%;
  width:80%;
  min-height:75px;
/*  padding-top:12%; */
}

















/* HEADER Leiste*********************************************************************/
header{
  width: 100%;
  height: 90px;
  position: fixed;
  top: 26px;               /* Abstand */
  left: 0;
  background: white;
  opacity: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  z-index: 3;            /* Lvl Priorität*/

}

.head2{
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;               /* Abstand */
  left: 0;
  background: #002c14;
  opacity: 1;
  box-shadow: 0 1px 3px rgba(0,0,0,0.4);
  z-index: 3;            /* Lvl Priorität*/
}

/*#015225*/
/*#002c14;*/

/* Bild Tristan*****************************************************************/
#HeadId{
  width: 140px;
  float: left;
  margin-left: 50px;
  margin-top: 7px;
}
#HeadId:hover{
  opacity: 0.85;
  }

#HeadId img{
  width: 100%;
}

/* Bild Telefon***************************************************************/
#HeadId2{
  width: 30px;
  float: right;
  margin-right:0.5%;

}
#HeadId2:hover{
  opacity: 0.85;
  }

#HeadId2 img{
  width: 100%;
}
/* Text Telefon***************************************************************/
#Telefon p{
  font-size: 110%;
  margin-top: 2px;
  margin-right:300px;
  color: beige;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}

/* Text Diensleistungen***************************************************************/
.TDienste{
  font-size: 110%;
  margin-top: 2px;
  margin-right:20px;
  color: beige;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  text-align: left;
  margin-left: 30px;
}

.TDiensteS{
  font-size: 90%;
  margin-top: 2px;
  margin-right:1px;
  color: beige;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
  text-align: left;
  margin-left: 10px;
}

.TDiensteHeadline{
  font-size: 150%;
  margin-top: 2px;
  margin-right:20px;
  color: beige;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}


/* Bild Notdienst ***************************************************************/
#HeadId3{
  height: 45px;
  width: 140px;
  float: right;
  margin-right:50px;
  /*padding-top: 5px;*/
  margin-top: 17px;
  background-color: rgb(219, 0, 0);
  border-radius: 1px;
  border: 3px solid;
  border-color:black;



}
#HeadId3:hover{
  opacity: 0.85;
  }

#HeadId3 img{
  width: 100%;
}

#HeadId3 p{
  margin-top: 7%;
}



/* HEADER Navigationszeile*****************************************************/
header nav{
  /*float: right;*/
  margin-top: 17px;
  margin-right: 200px;
}

header nav ul{
  display: inline-block;
  list-style-type: none;

  /*text-align: center;*/
  /*position: relative;
/*  width: 100%*
  margin: 0 auto;

/*  left: 1%;
  padding: 0;*/
}

header nav ul li{
  /*Navigationelemente nebeneinander*/
  float:left;
  /*Abstand der Navigationelemente*/
  margin-right: 35px;

}

header nav ul li a{
  font-size: 18px;
  color: grey;

}

header nav ul li:hover{
  padding-top:3px;
  text-decoration: underline;
  
}

header nav ul li a:hover{
  color: #016830;
}

.invisible{
  opacity:0;
}
/* MainPage********************************************************************/
#MainPageId{
  background: url(Main2.JPG);
  /*background-position: center; */
  background-repeat: no-repeat;
  /*background-size: 1920px 679px*/
  background-attachment: fixed;
  /*opacity: 0.85;*/
}

#MainPageId h1{
  margin: 600px auto 0 auto;
  font-size: 100px;
  color: white;


}
#MainPageId h2{
  margin: 0 auto 0 auto;
  font-size: 50px;
  color: white;
}
#MainPageId img{
  margin-top: 40px;
  opacity: 0.7;
}
#MainPageId img:hover{
  opacity:1;
}


/* About***********************************************************************/
/*
#aboutId img{
  width: 500px;
} */

/*
#aboutId img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);

} */


/*#aboutId p{
  width: auto;
  margin: 0 auto 0 auto;

} */
#About img{
  width: 100%;
  height: 100%;
}
/* Slideshow**************************************************************/


/* Dienstleistung**************************************************************/
#DiensteId img{

}

#DiensteId p{
  padding-top: 40px;
}



/* Footer *********************************************************************/

/*footer {
  width: 100%;
  height: 30px;
  background-color: brown;
}


.foot1{
  height: 10px;
  background-color: #337450;
}


footer p{
  font-size: 14px;
}
*/

footer {
  width: 100%;
}

footer p{

  font-size: 14px;
  color: ghostwhite;
  /*padding-top:30px; */
  background-color: #002c14;
} 
/* Kontakt*********************************************************************/
#KontaktId p{
  font-size: 18.5px;
}
